body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lightgray /* Light gray background */
  }
  
  .auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
  }
  
  .auth-page {
    width: 400px;
    padding: 40px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7); /* Slight transparent black background */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Box shadow for depth */
    color: #fff;
  }
  
  .auth-page h2 {
    text-align: center;
  }
  
  .auth-page form {
    margin-top: 20px;
  }
  
  .auth-page label {
    display: block;
    margin-bottom: 5px;
  }
  
  .auth-page input[type="email"],
  .auth-page input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1); /* Slight transparent white background */
    color: #fff;
  }
  
  .auth-page input[type="email"]::placeholder,
  .auth-page input[type="password"]::placeholder {
    color: rgba(255, 255, 255, 0.5); /* Light gray placeholder text */
  }
  
  .auth-page button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .auth-page button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .auth-page .toggle-mode {
    text-align: center;
    margin-top: 20px;
  }
  
  .auth-page .toggle-mode button {
    border: none;
    background: none;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .auth-page .toggle-mode button:hover {
    color: #0056b3;
  }
  
  .logo-container {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .theme{
    color:blueviolet
  }